.container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;

  & input,
  button {
    width: fit-content;
  }

  button {
    cursor: pointer;
  }
}

pre {
  background: #f4f4f4;
  padding: 1rem;
}

.error {
  color: red;
}

.success {
  flex: 1;
}
